# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ObjectOrientedProgramming\Java_CourseWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
